<app-header></app-header>

<main class="resena-page">
  <div class="content-wrapper">
    
    <section class="intro-section">
      <h1>Mis Reseñas</h1>
      <p>Historial de tus aportes a la comunidad de Nodesite.</p>
    </section>

    <div class="scrollable-container">
      @if (resenas.length > 0) {
        <div class="resenas-grid">
          @for (item of resenas; track item.id) {
            <div class="card-resena">
              <div class="card-top">
                <span class="tag-barrio">{{ item.nombreBarrio }}</span>
                <span class="date">{{ item.fecha | date:'shortDate' }}</span>
              </div>
              
              <p class="comment">"{{ item.comentario }}"</p>
              
              <div class="stars-row">
                @for (s of getStars(item.calificacion); track $index) {
                  <svg width="18" height="18" viewBox="0 0 24 24" fill="#FFD700">
                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                  </svg>
                }
              </div>
              <div class="status-badge" [class.moderada]="item.estado === 'moderada'">
                {{ item.estado === 'publicada' ? ' Publicada' : ' En Revisión' }}
              </div>
            </div>
          }
        </div>
      } 
      
      @else {
        <div class="empty-container">
          <svg class="empty-icon-svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
            <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
            <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
          </svg>
          <h2>Aún no calificaste tu barrio</h2>
          <p>Tus comentarios ayudan a mejorar la ciudad. ¡Contanos qué tal está tu zona hoy!</p>
        </div>
      }
    </div> </div>

  <div class="fixed-footer">
    <button class="btn-main" (click)="irAFormulario()">
      RESEÑAR
    </button>
  </div>
</main>