<div class="gm-card">
  
  <div *ngIf="pin.imagenes && pin.imagenes.length > 0" class="carousel-container">
    
    <button *ngIf="pin.imagenes.length > 1" class="nav-btn prev" (click)="scrollFotos('left')">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
    </button>

    <div class="carousel-track" #carouselTrack>
      <img *ngFor="let img of pin.imagenes" [src]="img" class="carousel-image" alt="Evidencia">
    </div>

    <button *ngIf="pin.imagenes.length > 1" class="nav-btn next" (click)="scrollFotos('right')">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </button>

    <div *ngIf="pin.imagenes.length > 1" class="carousel-dots">
      <span *ngFor="let img of pin.imagenes; let i = index" class="dot"></span>
    </div>
  </div>

  <div class="card-content">
    <header class="card-header">
      <ng-container *ngIf="pin.origen === 'admin'; else userHeader">
        <h3 class="title-admin">{{ pin.titulo }}</h3>
        <span class="badge-official">Oficial</span>
      </ng-container>

      <ng-template #userHeader>
        <div class="user-row">
          <div class="avatar">{{ inicial }}</div>
          <div class="user-info">
            <span class="username">@{{ pin.usuario }}</span>
            <span class="timestamp">Reporte Ciudadano</span>
          </div>
        </div>
      </ng-template>
    </header>

    <div class="meta-row">
      <span class="category-tag">{{ pin.tipoObra }}</span>
      <span class="status-dot" [class.active]="pin.estado === 'en-progreso'"></span>
      <span class="status-text">{{ pin.estado === 'en-progreso' ? 'En curso' : 'Finalizada' }}</span>
    </div>

    <p class="description">{{ pin.descripcion }}</p>

    <footer class="card-footer" *ngIf="!soloLectura">
      <button *ngIf="pin.origen === 'admin'" (click)="onEditar()" class="btn-action edit">
        <svg class="icon-svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
          <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
        </svg>
        Editar
      </button>

      <button *ngIf="pin.origen === 'usuario'" (click)="onEliminar()" class="btn-action delete">
        <svg class="icon-svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M3 6h18"></path>
          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
        </svg>
        Eliminar
      </button>
    </footer>
  </div>
</div>